**Session 3 - Advanced Python for General Computing & NLP**

**Group Members**  
bhagabat.prasad123@gmail.com  
tonyjames1980@gmail.com  
debina@iiitmanipur.ac.in  
mutumjagat123@gmail.com

In [30]:
import math
from functools import reduce
import random

**Problem 1. Write a function using only list filter lambda that can tell whether a number is a Fibonacci number or not. You can use a pre-calculated list/dict to store fab numbers till 10000**

In [32]:
def fib(n: int):
  '''
  Function to generate nth fabinocci number from the begining.
  '''
  if n < 2:
    return 1
  else:
    return fib(n-1) + fib(n-2)

In [33]:
# Loop to create a list of fabinocci numbers that are less than 10000.

fib_list = []
i = 0
while True:
  if fib(i) > 10000:
    break
  else:
    fib_list.append(fib(i))
    i+=1

In [34]:
# Function that uses lambda and filter to check if a given number is fabinocci or not.

def check_fabinocci(n:'int') -> 'bool':
    '''
    Parameters
    ----------
    n : 'int'
        Takes an interger and decides if that is fabinocci number.

    Returns
    -------
    bool
        True or False for whether the number is fabinnocci number.
    '''
    if type(n) != int:
        raise ValueError("Only integer is allowed as input")
    if n in list(filter(lambda x: x in fib_list, range(10000))):
        return True
    else:
        return False

In [36]:
# test for problem 1

print(check_fabinocci(12))
print(check_fabinocci(55))

False
True

**Problem 2: Using list comprehension (and zip/lambda/etc if required) write five different expressions that**

**Part 1**  
add 2 iterables a and b such that a is even and b is odd

In [37]:
def add_odd_even(l1:'list', l2:'list') -> 'list':
    '''
    Parameters
    ----------
    l1 : 'list'
        First list of integers.
    l2 : 'list'
        Seecond list of integers.

    Purpose
    -------
    The function adds corrsponding elements from the lists if element from first list is even and element from second list if odd

    Raises
    ------
    ValueError
        If any of the arguments is not a list, the function raises value error.

    Returns
    -------
    list
        List with added values from both the list based on odd even condition.
    '''
    if not (type(l1) == type(l2) == list):
        raise ValueError("Both the arugments must be lists")
    return [x+y for x, y in zip(l1, l2) if (x%2 == 0) and (y%2 != 0)]

In [39]:
# test problem 2 - part 1
l1 = [1, 5, 8, 3, 8, 0, 7]
l2 = [3, 4, 1, 7, 5, 8, 9]
add_odd_even(l1, l2)

[9, 13]

**Part 2**  
strips every vowel from a string provided (tsai>>t s)

In [40]:
def strip_vowel(string:'str') -> 'str':
    '''
    Parameters
    ----------
    string : 'str'
        A simple string of characters is allowed.

    Raises
    ------
    ValueError
        If anything other than a string is provided, the function raises value error.

    Returns
    -------
    TYPE
        A string after removal of vowel characters.
    '''
    if type(string) != str:
        raise ValueError("Only string is allowed")
    return ''.join([s for s in string if s not in 'aeiouAEIOU'])

In [41]:
# test problem 2 - part 2

strip_vowel('tsai')

'ts'

**Part 3**  
acts like a ReLU function for a 1D array

In [42]:
def relu(l:'list') -> 'list':
    '''
    Parameters
    ----------
    l : 'list'
        List of intergers or floats.

    Raises
    ------
    ValueError
        The function raises value error if anything other than list as provided as argument.
        Raises value error if any of the elements in the list is not an integer or float.

    Returns
    -------
    list
        List of intergers or floats after converting -ve number to zero.
    '''
    if type(l) != list:
        raise ValueError("Only list is allowed as arugument here")
    for i in l:
        if type(i) not in [int, float]:
            raise ValueError("The elements in the list can only be integer or float")
    return [n if n>0 else 0 for n in l]

In [43]:
# test problem 2 - part 3

l = [-2, 3, 0, 5, -4, -2, 1]
relu(l)

[0, 3, 0, 5, 0, 0, 1]

**Part 4**  
acts like a sigmoid function for a 1D array

In [23]:
def sigmoid(l:'list') -> 'list':
    '''
    Parameters
    ----------
    l : 'list'
        List of intergers or floats.

    Raises
    ------
    ValueError
        The function raises value error if anything other than list as provided as argument.
        Raises value error if any of the elements in the list is not an integer or float.

    Returns
    -------
    list
        List of intergers or floats after converting each number to its sigmoid value.
    '''
    if type(l) != list:
        raise ValueError("Only list is allowed as arugument here")
    for i in l:
        if type(i) not in [int, float]:
            raise ValueError("The elements in the list can only be integer or float")
    return [(1 / (1 + math.exp(-n))) for n in l]

In [44]:
# test problem 2 - part 4

l = [-2, 3, 0, 5, -4, -2, 1]
sigmoid(l)

[0.11920292202211755,
 0.9525741268224334,
 0.5,
 0.9933071490757153,
 0.01798620996209156,
 0.11920292202211755,
 0.7310585786300049]

**Part 5**  
takes a small character string and shifts all characters by 5 (handle boundary conditions) tsai>>yxfn

In [45]:
def shift_string(string:'str') -> 'str':
    '''
    Parameters
    ----------
    string : 'str'
        Takes a string of characters. Capital letters are allowed however the function converts them to lower characters.
        Only a to z characters are considered from the given string programatically.

    Raises
    ------
    ValueError
        If anything other than a string is given then the functions raises value error.

    Returns
    -------
    TYPE
        The function shifts each letter in the string to its next 5th position and then concatenates them to return the updated string.
    '''
    if type(string) != str:
        raise ValueError("Only string is allowed")
    string = string.lower()
    ls = [((ord(s)-96) + 5)%26 for s in string if ord(s) in range(97, 123)]
    return ''.join([chr(n+96) for n in ls])

In [46]:
# test problem 2 - part 5

shift_string('tsai')

'yxfn'

**Problem 3: A list comprehension expression that takes a ~200 word paragraph (write your own paragraph to check), and checks whether it has any of the swear words mentioned in https://github.com/RobertJGabriel/Google-profanity-words/blob/master/list.txt PTS:200**

In [47]:
def find_profanity(pg:'str') -> 'bool':
    '''
    Parameters
    ----------
    pg : 'string'
        A string of paragraph with more than 200 words.

    Raises
    ------
    ValueError
        If anything other than a string or a string with lower than 200 words are given, it raises value error.

    Returns
    -------
    TYPE
        If checks if there is any presence of profanity words in the given paragraph and returns True or False accordingly.
        Source of profanity words: https://github.com/RobertJGabriel/Google-profanity-words/blob/master/list.txt
    '''
    profanity_list=[line.strip() for line in open('profanity.txt')]
    if type(pg) != str:
        raise ValueError("Only string is allowed")
    if len(pg.split()) < 200:
        raise ValueError("String paragraph with minimum 200 words is required")
    return False or bool([p for p in pg.split() if p in profanity_list])

In [49]:
prof_pg = " t t t t t t t t t t t t t t t t t t t t t arse tDear Aditya, A good workforce of any establishment or factory is a asset and there is no harm if the HR indulge into settlement of any sort of complaint / dispute whether within or outside the premises. Moreover, I do not feel any harm if the HR even get involve into personal issues of the workforce. I remember, when I was in service, I had settled certain minor disputes within the family of workers or their friend circle, understand their problems whether relating to the school admission of their wards or medical treatment of their parents etc. etc. by advancing money either from my employer or from my own pocket. At the same time taking appropriate disciplinary action against the guilty is equally important to maintain discipline and peaceful working. In this particular case, if the employee has used abusive language through email it is on the record and HR can go through it, understand the circumstances and situations and decide further action. It is a goodwill gesture and you can win over the hearts of the workforce. They will definitely listen to your directions always. read more at: https://www.citehr.com/502881-abusive-language-used-employee-email.html"

In [50]:
# test problem 3

find_profanity(prof_pg)

True

**Problem 4 - Using reduce functions**

**Part 1**  
add only even numbers in a list

In [51]:
def reduce_sum_even(l:'list') -> 'int':
    '''
    Parameters
    ----------
    l : 'list'
        List of integers as input.

    Raises
    ------
    ValueError
        If anything other than a list or a list other than intergers are given, it raises value error.

    Returns
    -------
    TYPE
        It adds the even numbers from the list and gives the result.
    '''
    if type(l) != list:
        raise ValueError("Only a list of numbers is allowed")
    for i in l:
        if type(i) != int:
            raise ValueError("Only integers are allowed in the input list")
    return reduce(lambda a, b: a + (b if b % 2 == 0 else 0), l, 0)

In [54]:
# test problem 4 - part 1

l = [2, 3, 0, 5, 4, 2, 1]
reduce_sum_even(l)

8

**Part 2**  
find the biggest character in a string (printable ascii characters)

In [55]:
def reduce_big_str(string:'str') -> 'str':
    '''
    Parameters
    ----------
    string : 'str'
        A simple string whatever printable characters.

    Raises
    ------
    ValueError
        If the input is other than string then it raises value error.

    Returns
    -------
    TYPE
        It finds the character in the string with higest ASCII number and returns that.
    '''
    if type(string) != str:
        raise ValueError("Only string is allowed")
    return reduce(lambda a, b: max(a, b), string)

In [56]:
# test problem 4 - part 2

reduce_big_str('testingyyyy')

'y'

**Part 3**  
adds every 3rd number in a list

In [57]:
def add_third_number(l:'list') -> 'int':
    '''
    Parameters
    ----------
    l : 'list'
        A list of integers.

    Raises
    ------
    ValueError
        If anything other than list or a list of other than integers are given then it raises value error.

    Returns
    -------
    TYPE
        The function adds all the elements from every third positions from each other in the list and returns the value.
    '''
    if type(l) != list:
        raise ValueError("Only a list of numbers is allowed")
    for i in l:
        if type(i) != int:
            raise ValueError("Only integers are allowed in the input list")
    return reduce(lambda a, b: a+b, l[::3])

In [58]:
# test problem 4 - part 3

add_third_number([1,2,3,4,5,6,7])

12

**Problem 5: Using randint, random.choice and list comprehensions, write an expression that generates 15 random KADDAADDDD number plates, where KA is fixed, D stands for a digit, and A stands for Capital alphabets. 10<<DD<<99 & 1000<<DDDD<<9999**

In [59]:
def random_number_plates(state_code:'str'='KA') -> 'list':
    '''
    Parameters
    ----------
    state_code : 'str', optional
        A string of two capital letters. The default is 'KA'.

    Raises
    ------
    ValueError
        If anything other than a string or a string with length not equal to 2.
        If any of the characters from the string is not within A to Z

    Returns
    -------
    list
        It generates random number between 10 and 99 and another from 1000 and 9999 and concatenates them with given state code to create number plate.
        It creates 15 such random number plates and returns them as a list.
    '''
    if (type(state_code) != str) or (len(state_code) != 2):
        raise ValueError("Only a string of length two is allowed")
    for s in state_code:
        if (ord(s) < 65) or (ord(s) > 90):
            raise ValueError("Only a string of two capital letters is allowed")
    return [state_code + str(random.randint(10, 99)) + str(random.randint(1000, 9999)) for _ in range(15)]

In [60]:
# test problem 5

random_number_plates()

['KA732373',
 'KA849493',
 'KA346970',
 'KA538470',
 'KA777983',
 'KA836197',
 'KA751432',
 'KA317756',
 'KA958004',
 'KA795900',
 'KA906741',
 'KA882846',
 'KA115008',
 'KA304107',
 'KA107785']

**Problem 6: Write the above again from scratch where KA can be changed to DL, and 1000/9999 ranges can be provided**

In [62]:
def number_plates(state_code:'str'='KA', nl:'int'=1000, nu:'int'=9999) -> 'list':
    '''
    Parameters
    ----------
    state_code : 'str', optional
        A string of two capital letters. The default is 'KA'.. The default is 'KA'.
    nl : 'int', optional
        Lower limit of the number plate. The default is 1000.
    nu : 'int', optional
        Upper limit of the number plate. The default is 9999.

    Raises
    ------
    ValueError
        If anything other than a string or a string with length not equal to 2.
        If any of the characters from the string is not within A to Z.
        If any of lower and upper limits is not an interger.
        If lower limit is greater than upper limit.

    Returns
    -------
    list
        It generates random number between 10 and 99 and another from 1000 and 9999 and concatenates them with given state code to create number plate.
        It creates 15 such random number plates and returns them as a list.
    '''
    if (type(state_code) != str) or (len(state_code) != 2):
        raise ValueError("Only a string of length two is allowed")
    for s in state_code:
        if (ord(s) < 65) or (ord(s) > 90):
            raise ValueError("Only a string of two capital letters is allowed")
    if (type(nl) != int) or (len(str(nl)) != 4):
        raise ValueError("Lower limit has to be a four digit number")
    if (type(nu) != int) or (len(str(nu)) != 4):
        raise ValueError("Upper limit has to be a four digit number")
    if nu <= nl:
        raise ValueError("Upper limit must be greater than lower limit")
    return [state_code + str(random.randint(10, 99)) + str(random.randint(nl, nu)) for _ in range(15)]

In [63]:
# test problem 6

number_plates('DL')

['DL967983',
 'DL555592',
 'DL538897',
 'DL867321',
 'DL799996',
 'DL892804',
 'DL649045',
 'DL679290',
 'DL911755',
 'DL135818',
 'DL716267',
 'DL315824',
 'DL119411',
 'DL179741',
 'DL339597']